.product-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;
  padding-bottom: 15px;
}

.product-card:hover {
  transform: translateY(-6px);
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Info section */
.product-info {
  padding: 15px;
}

.product-info h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0 6px;
}

.price {
  color: #556b2f;
  font-weight: bold;
  margin-bottom: 6px;
}


.reviews {
  font-size: 14px;
  color: #555;
}


/* Buttons */
.card-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  background-color: #556b2f;
  color: ivory;
  padding: 8px 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #485a25;
}

.view-btn {
  background-color: transparent;
  border: 2px solid #556b2f;
  color: #556b2f;
}

.view-btn:hover {
  background-color: #556b2f;
  color: ivory;
}
